body, html {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    
}

#campoA, #campoB {
    margin-bottom: 10px;
}

